torch 
transformers 
accelerate 
datasets 
librosa 
soundfile 
sentence-transformers 
pinecone
tiktoken 
colorama

# categorization
langchain
langchain-google-genai
langchain-community
langchain-core


# image captions
pillow
google-genai
google-generativeai
flask
flask-cors
flask-limiter
python-dotenv
werkzeug
PyPDF2
passlib